body {
    background-image: url(../img/pika.jpg);
}

p {
    font-size: 30px ;
    font-family: 'Be Vietnam Pro', sans-serif;
}

label {
    font-size: 25px;
}

.btn {
    margin-left: 60px;
}
.choices {
    margin-left: 20px;
}